$Box-Spacing: 8px;
$cherry: #C71349;
$font-korto: 'Korto';
$font-outfit: 'Outfit';
$back: #343434;
$type: #00a3ff;
$sale: #ff5c00;
$gray: #dbdbdb;
$green: #56c561;
$white: #fff;
$second-family: "Avenir Next", sans-serif;
$third-family: "Poppins", sans-serif;
$font4: "Raleway", sans-serif;
$font5: "Avenir", sans-serif;
$mobile: 549px;
$table: 849px;
$laptop: 1024px;


body{
  --Box-Spacing: #{$Box-Spacing};
  --color-cherry: #{$cherry};
  --font-korto: #{$font-korto};
  --font-outfit: #{$font-outfit};
  --color-back: #{ $back};
  --type: #{$type};
  --sale: #{$sale};
  --color-gray: #{$gray};
  --color-green: #{$green};
  --color-white: #{$white};
  --font-family: #{$font-outfit, sans-serif};
  --second-family: #{ $second-family, sans-serif};
  --third-family: #{ $third-family sans-serif};
  --font3: #{ $font-korto, sans-serif};
  --font4: #{$font4, sans-serif};
  --font5: #{$font5, sans-serif};
}