
.category-tab-title{
  margin-top:50px;
  margin-bottom: 30px;
}

.category-box-home .col-inner{
  border-radius:24px;
  overflow:hidden;
}

.category-box-home .col-inner .box-text-inner h4{
  color: var(--color-white, #FFF);
  font-family: var(--font-korto);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.category-box-home .col-inner .box-text{
  padding-top:10px;
  padding-bottom:10px;
}


.add-cart__wrap {
  order: 3;
}
.product-default {
  border: 1px solid var(--color-gray);
  border-radius: 18px;
  .title-wrapper {
    border-bottom: 1px solid var(--color-gray);
    padding: 18px 18px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
  }
  .product-top {
    display: flex;
    justify-content: space-between;
    padding: 12px 18px;
  }
  .product-top-status {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--color-back);
    svg {
      margin-right: 5px;
    }
  }
  .product-small {
    &.box {
      .product-title {
        a {
          text-align: start;
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 12px;
          color: #000;
        }
      }
      .box-text {
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
      .name {
        &.product-title {
          &.woocommerce-loop-product__title {
          }
        }
      }
    }
  }
  .price-wrapper {
    display: flex;
    gap: 12px;
    padding: 12px 18px 0;
    justify-content: space-between;
    align-items: end;
  }
  .price-total {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    color: #000;
    text-decoration: none;
    del {
      text-decoration: none;
      .woocommerce-Price-amount {
        &.amount {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 12px;
          text-decoration: line-through;
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
  .save {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    text-align: right;
    color: #6ed10b;
    margin-bottom: 2px;
    display: block;
  }
  .quantity {
    border: 1px solid var(--color-gray);
    border-radius: 8px;
    padding: 2px;
    width: 36px;
    height: 36px;
    margin-right: 0 !important;
    color: #000;
    background: transparent;
    input[type=number] {
      font-family: var(--third-family);
      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      background: transparent;
    }
    &.buttons_added {
      .button {
        display: none;
      }
    }
  }
  .cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    padding: 12px 18px;
    margin: 0;
  }
  .single_add_to_cart_button {
    &.button {
      background: var(--color-cherry) !important;
      border-radius: 8px !important;
      padding: 12px 17px;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 12px;
      line-height: 100%;
      text-transform: uppercase;
      color: var(--color-white);
      margin: 0 !important;
      width: 100%;
      max-width: 156px;
    }
  }
  .image-fade_in_back {
    margin: 0 auto;
    width: 80%;
    position: relative;
  }
  .badge-container {
    display: none;
  }
  .excerpt-wrapper {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 12px;
    color: var(--color-back);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .yith-wcwl-wishlistexistsbrowse {
  }

  .box-image {
    padding: 0 12px;
    margin: 0 12px;
  }
  .wishlist-popup {
    z-index: 1111;
  }
  .pa_directions-dosage {
    right: 0;
  }
}
.product-small {
  &.box {
    .product-title {
      margin: 0;
    }
  }
}
.woocs_price_code {
  display: flex;
  flex-direction: column;
}
.product-default ins,
.product-default .woocs_price_code {
  line-height: 1;
}
.button {
  &.icon {
    &.circle {
      margin: 0 !important;
      padding: 0 !important;
      background: transparent !important;
      border: none !important;
      min-width: 0 !important;
    }
  }
}
.product-default .pa_directions-dosage img ,
.product-default .pa_supplement-facts img ,
.product-default .pa_ingredients img {
  max-width: 24px;
  width: 100%;
}
.product-default .pa_ingredients,
.product-default .pa_supplement-facts {
  left: 0px;
}
.product-default .pa_directions-dosage ,
.product-default .pa_supplement-facts ,
.product-default .pa_ingredients {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  bottom: 0;
}
