
.button.primary {
  border: initial;

  span {
    padding: 13px 20px;
  }
}

.btn.btn-logout {
  padding: 11px 34px;
  color: #fff;
  font-family:  $font-outfit;;
  font-style: normal;
  background: var(--color-cherry);
  border-radius: 5px;
}

.button span {
  font-weight: 400;
  font-family:  $font-outfit;;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #1F0C01;
}

a.button.secondary {
  /*     background: #34c560; */
  background: var(--color-cherry);
  background-color: var(--color-cherry);
  /*     background-image: linear-gradient(270deg, rgba(92, 215, 47, 1) -35%, rgba(52, 197, 96, 1) 118%); */
}


a.button.is-outline {
  border: 2px solid var(--color-cherry);
}


.dashboard-links a, .woocommerce-Button.button, .woocommerce-address-fields .button.wp-element-button, input[type="submit"].button, #place_order {
  justify-content: center;
  align-items: center;
  width: 194px;
  height: 52px;
  border-radius: 8px;
  padding: 15px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.button#place_order,
.dashboard-links a,
.woocommerce-Button.button,
a.checkout-button.button,
input[type="submit"].button,
#place_order,
.nav-pagination > li > .current,
.nav-pagination > li > a:hover,
.nav-pagination > li > span:hover,
.button-continue-shopping.button.primary.is-outline,
a.woocommerce-button.wp-element-button.button.view,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected],
.is-outline:hover,
.primary.is-outline:hover,
.woocommerce-widget-layered-nav-dropdown__submit,
.more-link.button.primary.is-outline.is-smaller,
.nav-line-bottom > li > a:before,
.nav-line-grow > li > a:before,
.nav-line > li > a:before,
.button.primary.wc-backward.wp-element-button,
.button.wp-element-button {
  background-color: var(--color-cherry) !important;
  border-color: var(--color-cherry);
}

.button.wc-forward.wp-element-button,
.button-continue-shopping.button.primary.is-outline,
a.woocommerce-button.wp-element-button.button.view {
  border-radius: 8px;
  padding: 15px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1F0C01;
  width: 100%;
}


.is-form.expand.button.wp-element-button {
  text-shadow: none;
  height: 55px;
}

.woocommerce-widget-layered-nav-dropdown__submit,
.button.primary.wc-backward.wp-element-button {
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 15px;
  color: #1F0C01;
  padding: 6px 32px;
}

form.searchform .button.wp-element-button,
.more-link.button.primary.is-outline.is-smaller,
.product-lightbox.lightbox-content .button.wp-element-button {
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  max-height: 39px;
  color: #1F0C01;
  padding: 6px 32px;
}

body .white.button.is-outline {
  border: 1px solid #FFFFFF66;
  border-radius: 12px !important;
  display: inline-flex;
  align-items: center;
}

body .white.button.is-outline span {
  color: #fff;
  font-size: 16px;
}

body .white.button.is-outline:hover span {
  color: #ffffff;
}

body .white.button.is-outline:after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/wp-content/uploads/2024/04/arrow-narrow-right.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 0 10px;
}

.button.btn-orange.primary span {
  border: 4px solid #FF5C00;
  color: #FF5C00 !important;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #DC4A0C !important;
  box-shadow: 16.6025px 38.5792px 80px rgba(141, 29, 4, 0.16), 6.39502px 14.8602px 25.4815px rgba(141, 29, 4, 0.39), 1.35279px 3.14349px 6.51852px rgba(141, 29, 4, 0.0628148) !important;
  border-radius: 55px;

}


.button.secondary {
  margin: 0;
  float: right;
}

.button.secondary {
  display: inline-flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-radius: 12px !important;
  padding: 10px 24px;
  margin: 0 auto;
  float: none;

}

.button.secondary span {
  color: #000;
  font-family:  $font-outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}


.slider .button span {
  color: #1F0C01;
}

.button.button-about-us span {
  font-size: 16px;
}

input#button-subscribe {
  background: var(--color-cherry);
  border-radius: 8px;
  color: #1F0C01;
}


.button.secondary:after {

  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/wp-content/uploads/2023/10/arrow-narrow-right.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 0 10px;
}

.button.primary span {
  color: var(--color-cherry) !important;
  font-family:  $font-outfit;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
  text-transform: uppercase;
  border-radius: 39px;
  height: auto;
  max-height: initial;
  margin: revert-layer;
  padding: 21px 36px;
  border: initial;
  border-radius: 55px;
  border: 4px solid #EE5075;


  box-shadow: 1px 3px 7px 0 rgba(141, 4, 54, 0.06), 6px 15px 25px 0 rgba(141, 4, 54, 0.39), 17px 39px 80px 0 rgba(141, 4, 54, 0.16);
  background: white;
}
.wishlist_table .add_to_cart{

  background-color: var(--color-cherry) !important;
  font-family:  $font-outfit;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
  text-transform: uppercase;
  border-radius: 8px;
  height: auto;
  max-height: initial;
  padding: 21px 36px;
  border: initial;
  color: #fff;


}

body {
  overflow-x: hidden;

  .button {
    &.homepage-button {
      background: transparent !important;
      border: none !important;
      box-shadow: none !important;

      &.hero-button {
        span {
          border: 4px solid #DC0C4B;
          /*border-image-source: linear-gradient(180deg, #EE5075 0%, #D22F57 96.81%);*/
        }
      }

      &.sale-button {
        span {
          border: 4px solid #DC4A0C;
          /*border-image-source: linear-gradient(180deg, #FF9357 0%, #F75801 96.81%);*/
        }
      }
    }

    &.white {
      border: 1px solid #00000066;
      border-radius: 12px !important;
      display: inline-flex;
      background: transparent !important;
      align-items: center;
      padding: 16px 24px;
      color: #343434;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.2em;
      text-transform: uppercase;
      margin-bottom: 0;

      &:after {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url(/wp-content/uploads/2024/04/arrow-narrow-right-black.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 0 0 10px;
      }

      &:hover {
        background: #00000066 !important;
        color: #fff !important;

        &:after {
          background: url(/wp-content/uploads/2024/04/arrow-narrow-right.svg);
        }
      }
    }
  }

}