.container {
  padding-left: 22px;
  padding-right: 22px;
}

.dgwt-wcas-focused {

}

.dgwt-wcas-focused {
  height: 100vh;
  overflow: hidden;

  .header-bottom {
    z-index: 6 !important;
  }

  #masthead .dgwt-wcas-sf-wrapp:before {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    z-index: 20;
    left: 0;
    top: 0;

  }

  .dgwt-wcas-search-input {
    z-index: 10;
  }
}

body:has(.has-dropdown.current-dropdown) {
  height: 100vh;
  overflow: hidden;

  .header-bottom:has(.has-dropdown.current-dropdown) {
    z-index: 11;
  }

  #wide-nav .current-dropdown {
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: fixed;
      background: rgba(0, 0, 0, 0.75);
      z-index: 54;
      left: 0;
      top: 0;
      margin: 0;
      bottom: 0;
      right: 0;
      opacity: 1;
    }

    .nav-dropdown {
      z-index: 111;
    }
  }

}
.slider-nav-circle .flickity-prev-next-button svg {
  background: #47474A;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

.slider-size-new .flickity-prev-next-button .arrow {
  color: #fff;
}

.flickity-prev-next-button.next {
  right: 0.5%;
}

.flickity-prev-next-button.previous {
  left:0.5%;
}
.grid-tools a
{
  background-color: #1F0C01;
}
.menu-colum{
  flex-basis: 20%;
  max-width: 20%;
}

.sub-colum{
  flex-basis: 40%;
  max-width: 40%;
}
.irs-grid{
  display:none !important;
}

.irs--big .irs-handle,
.irs-bar, .irs--big .irs-from, .irs--big .irs-to, .irs--big .irs-single, .irs--big .irs-grid-pol{
  background:var(--color-cherry) !important;
}