.container {
  padding-left: 22px;
  padding-right: 22px;
}

.dgwt-wcas-focused {

}

.dgwt-wcas-focused {
  height: 100vh;
  overflow: hidden;

  .header-bottom {
    z-index: 6 !important;
  }

  #masthead .dgwt-wcas-sf-wrapp:before {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    z-index: 20;
    left: 0;
    top: 0;

  }

  .dgwt-wcas-search-input {
    z-index: 10;
  }
}

body:has(.header-bottom-nav .current-dropdown){
  height: 100vh;
  overflow: hidden;


  .header-bottom-nav .current-dropdown {
    color: red;
    &:before {
      content: '' !important;
      width: 100%;
      position: fixed;
      display: block!important;
      background: rgba(0, 0, 0, 0.75);
      border:none!important;
      z-index: 111;
      left: 0;
      bottom: 0;
      height: calc(100% - 130px);
      top: 130px;
      @media screen and (min-width: $table) and (max-width: $laptop) {
        height: calc(100% - 100px);
        top: 100px;
      }
      @media screen and (max-width: $mobile) {
        height: calc(100% - 70px);
        top: 70px;
      }
      margin: 0;

      right: 0;
      opacity: 1;
    }
    .nav-dropdown {
      z-index: 111;
    }
  }
  &.admin-bar {
    #wide-nav .current-dropdown {
      &:before {
        height: calc(100% - 164px)!important;
        top: 164px;

        @media screen and (max-width: $table) {
          height: calc(100% - 90px);
          top: 90px;
        }
      }
    }
  }

}
.slider-nav-circle .flickity-prev-next-button svg {
  background: #47474A;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

.slider-size-new .flickity-prev-next-button .arrow {
  color: #fff;
}

.flickity-prev-next-button.next {
  right: 0.5%;
}

.flickity-prev-next-button.previous {
  left:0.5%;
}
.grid-tools a
{
  background-color: #1F0C01;
}
.menu-colum{
  flex-basis: 20%;
  max-width: 20%;
}

.sub-colum{
  flex-basis: 40%;
  max-width: 40%;
}
.irs-grid{
  display:none !important;
}

.irs--big .irs-handle,
.irs-bar, .irs--big .irs-from, .irs--big .irs-to, .irs--big .irs-single, .irs--big .irs-grid-pol{
  background:var(--color-cherry) !important;
}
.svg-fill-transparent svg path{
  fill: transparent;
}